.hover-search-user:hover {
    border: 2px solid rgb(139, 138, 138);
    border-radius: 4px;
}
.hover-btn:hover {
    color: red;
}

.selectorHover:hover {
    background-color: rgb(221, 215, 215);
    border-radius: 8px;
}

.contact-hover:hover {
    box-sizing: border-box;
    border: 2px solid teal;
    border-radius: 4px;
}
.text-ellipsis {
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    display: -webkit-box; /* Safari, Chrome, etc. */
    display: box; /* Firefox, etc. */
    -webkit-line-clamp: 1; /* Safari, Chrome, etc. */
    line-clamp: 1;
    -webkit-box-orient: vertical; /* Safari, Chrome, etc. */
    box-orient: vertical;
}
